<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.spring.bean.sang.db.ProvinceMapper">
    <resultMap id="provinceResultMapper" type="com.study.spring.bean.sang.bean.Province">
        <id column="id" property="id"/>
        <association property="alias" column="id" select="com.study.spring.bean.sang.db.AliasMapper.findAliasByPid" fetchType="eager"/>
        <collection property="cities" column="id" select="com.study.spring.bean.sang.db.CityMapper.findCityByPid" fetchType="lazy"/>
        <discriminator javaType="int" column="area">
            <case value="1" resultMap="noodleResultMap"></case>
            <case value="2" resultMap="riceResultMap"></case>
        </discriminator>
    </resultMap>
    <resultMap id="noodleResultMap" type="com.study.spring.bean.sang.bean.Province" extends="provinceResultMapper">
        <collection property="foods" column="area" select="com.study.spring.bean.sang.db.NoodleMapper.findNoodleByArea"/>
    </resultMap>
    <resultMap id="riceResultMap" type="com.study.spring.bean.sang.bean.Province" extends="provinceResultMapper">
        <collection property="foods" column="area" select="com.study.spring.bean.sang.db.RiceMapper.findRiceByArea"/>
    </resultMap>
    <select id="getProvince" resultMap="provinceResultMapper">
      SELECT * FROM province
    </select>

</mapper>